{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>About Us</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="head_top">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  </div>
               </div>
               <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <div class="container-fluid">
                     <a class="navbar-brand" href="#">V-TRANS</a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/vehicle/">Book Vehicle</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/services/">Services</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/blog/">Blog</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/about/">About Us</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
         <!-- end header inner -->
   </header>
   <!-- end header -->
   <div class="brand_color">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>About</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about">
      <div class="container">
         <div class="row">
            <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
               <div class="about_box">
                  <figure><img src="{% static 'images/Logo2.png' %}" /></figure>
               </div>
            </dir>
            <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
               <div class="about_box">
                  <h3>Who is V-Trans</h3>
                  <p>V-Trans is a portal that allows a customer to book a truck online. V-Trans is
                     a Logistics aggregator offering On-demand Transportation solutions to a cater to goods movement in
                     both Full load & Part load segment. We aim to deliver quality service at competitive price and back
                     every shipment with technology & outstanding customer support service. V-Trans offers a single stop
                     solution for Pan India deliveries to customers.</p>
                  <p> We at V-Trans try to support our customers for their customized requirements which are not
                     feasible for a local transporter. We provide transport any
                     type of goods like Paper & Pulp, FMCG, Cement, Agricultural products, Ecommerce, FMCD,and Chemical.
                  </p>
               </div>
            </dir>
         </div>
      </div>
   </div>
   <!-- CHOOSE  -->
   <div class="whyschose">
      <div class="container">

         <div class="row">
            <div class="col-md-7 offset-md-3">
               <div class="title">
                  <h2>Why <strong class="black">choose us</strong></h2>
                  <span>Fastest repair service with best price!</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="choose_bg">
      <div class="container">
         <div class="white_bg">
            <div class="row">
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'images/service1.png' %}" /></i>
                     <h3>Full Load Services</h3>
                     <p>We provide Full Truck load transportation services with varied type of trucks available with the
                        click of a button.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'images/service2.png' %}" /></i>
                     <h3>Transparent Pricing</h3>
                     <p>With our fare calculator, we instantaneously give you best possible rates online.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'images/service3.png' %}" /></i>
                     <h3>Advance Booking</h3>
                     <p>Our vehicle availability is guaranteed on daily/weekly/monthly basis to ensure on-time
                        reporting.</p>
                  </div>
               </dir>
               <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="for_box">
                     <i><img src="{% static 'images/service4.png' %}" /></i>
                     <h3>Quick & Easy Portal</h3>
                     <p>Hiring a truck is now just a click away, through our hassle free online booking system.</p>
                  </div>
               </dir>
               <div class="col-md-12">
                  <a class="read-more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end CHOOSE -->

   <!--  footer -->
   <footr>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <ul class="sociel">
                     <li> <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                     <li> <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
                     <li> <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>V-Trans</h3>
                     <span>V-Trans is a portal that
                      allows a customer to book
                      a truck online. V-Trans is
                      a Logistics aggregator offerin
                      On-demand Transportation solutions
                      to a cater to goods movement in
                      both Full load & Part load segment.
                     </span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Conatct Us</h3>
                     <span>
                        Varachha, Surat
                        <p>+91 81603 53720</p>
                        <p>+91 87807 60314</p>
                     </span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Services</h3>
                     <ul class="lik">
                        <li> <a href="/vehicle"> Full Load Services</a></li>
                        <li> <a href="#">Transparent Pricing</a></li>
                        <li> <a href="/vehicle">Advance Booking</a></li>
                        <li> <a href="#">Quick & Easy Portal</a></li>
                        <li> <a href="#">Trusted Services</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Quick Links</h3>
                     <ul class="lik">
                        <li> <a href="{% url 'terms' %}">Terms and conditions</a></li>
                        <li> <a href="{% url 'privacy' %}">Privacy and policy</a></li>
                        <li> <a href="{% url 'faq' %}">FAQ</a></li>
                        <li> <a href="{% url 'payterms' %}">Online payment terms</a></li>
                        <li> <a href="{% url 'about' %}">Technical support</a></li>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <p style="text-align: center;"><b>Copyright 2021 All Right Reserved By "V-Trans"</b></p>
         </div>
   </footr>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
      $(document).ready(function () {
         $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
         });
         $(".zoom").hover(function () {

            $(this).addClass('transition');
         }, function () {

            $(this).removeClass('transition');
         });
      });
   </script>
</body>

</html>